.appName{
  font-weight:700;
  font-style: oblique;
  font-size:3rem;
  margin:15px;
  margin-bottom:40px;
  color: #1A237E;
  background: linear-gradient(135deg, #32a852, #f9d423);
   padding:20px;
  
  
  
}